        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <!-- {% if user.is_authenticated %}
                <a href="{% url 'youtubeapp:post' %}"
                class="btn btn-primary my-2">投稿する</a>
                <a href="{% url 'accounts:logout' %}"
                class="btn btn-primary my-2">ログアウト</a>
                {% else %}
                <a href="{% url 'accounts:signup' %}"
                class="btn btn-primary my-2">サインアップ</a>
                <a href="{% url 'accounts:login' %}"
                class="btn btn-primary my-2">ログイン</a>
                {% endif %} -->
                </div>
        </section>